#Say "Hello, World!" With Python

In [6]:
if __name__ == '__main__':
  print("Hello, World!")

Hello, World!

#Python If-Else
Given an integer, n, perform the following conditional actions:
If n  is odd, print Weird
If n is even and in the inclusive range of 2 to 5 , print Not Weird
If n is even and in the inclusive range of 6 to 20 , print Weird
If n  is even and greater than 20, print Not Weird

In [13]:
import math
import os
import random
import re
import sys
def hd(i):
    if(i % 2 != 0):
        print('Weird')
        
    elif(i % 2 == 0 and i in range(2, 6)):
        print('Not Weird')

    elif(i % 2 == 0 and i in range(6, 21)):
        print('Weird')
    
    elif(i % 2 == 0 and i > 20):
        print('Not Weird')
        
    else:
        pass
    
if __name__ == '__main__':
  i = int(input().strip())

  hd(i)

22
Not Weird

#Arithmetic Operators
The provided code stub reads two integers from STDIN, a and b . Add code to print three lines where:

The first line contains the sum of the two numbers.
The second line contains the difference of the two numbers (first - second).
The third line contains the product of the two numbers.

In [16]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print('sum of two numbers ',a + b)
    print('difference of two numbers is ',a - b)
    print('product of two numbers ',a * b)

1
1
sum of two numbers  2
difference of two numbers is  0
product of two numbers  1

#Python: Division

In [17]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a//b)
    print(a/b)

2
4
0
0.5

#Loops
The list of non-negative integers that are less than n=3 is[0,1,2] . Print the square of each number on a separate line.

output = 0,1,4

In [23]:
if __name__ == '__main__':
    n = int(input())

    for i in range(n):
       print (i**2)

3
0
1
4

#Write a function

In [35]:
def is_leap(year):
    leap = False
    
    # Write your logic here
    if year % 400 == 0:
        leap = True
    elif year % 100 == 0:
        leap = False
    elif year % 4 == 0:
        leap = True
    
    return leap
    
year = int(input())
print(is_leap(year))

1990
False

#Print Function

In [38]:
from __future__ import print_function

if __name__ == '__main__':
    n = int(input())
       
    for  i in range(n):
        print(i+1,end = "")

4
1234